@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://wiki.mtgpq.info/w/images/a/aa/Elspeth.png" alt="Elspeth">
    <div class="card-body">
        <h5 class="Elspeth, Sun's Champion'"></h5>
        <p class="card-text">Planeswalker- Elspeth</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Mana Cost : {4}{W}{W} </li>
        <li class="list-group-item">CMC : 6.0 </li>
        <li class="list-group-item">Colors : W </li>
        <li class="list-group-item">Type : Legendary Planeswalker </li>
        <li class="list-group-item">Rarity: Mythic</li>
        <li class="list-group-item">Set Name : Theros</li>
        <li class="list-group-item">[+1]: Create three 1/1 white Soldier creature tokens. </li>
        <li class="list-group-item">[−3]: Destroy all creatures with power 4 or greater.</li>
        <li class="list-group-item">[−7]: You get an emblem with \"Creatures you control get +2/+2 and have flying. </li>
        <li class="list-group-item">Loyalty : 4</li>
    </ul>
</div>
